<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steam Chat</title>
  <link rel="stylesheet" href="style.css">
  <!-- 延迟引入 socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>

  <script>
    // 全局变量
    const WINDOW_ROOM_ID = "<%= roomId %>"
    console.log(WINDOW_ROOM_ID)
  </script>
</head>
<body>
  <h1>Steam Chat</h1>
  <div id="video-grid">
    
  </div>
  <script src="index.js"></script>
</body>
</html>