/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4477321 */
  src: url('//at.alicdn.com/t/c/font_4477321_vkaboiueap.woff2?t=1711081768690') format('woff2'),
       url('//at.alicdn.com/t/c/font_4477321_vkaboiueap.woff?t=1711081768690') format('woff'),
       url('//at.alicdn.com/t/c/font_4477321_vkaboiueap.ttf?t=1711081768690') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-github:before {
  content: "\e673";
}

.icon-jingyin:before {
  content: "\e629";
  color: red;
}

.icon-huatong:before {
  content: "\e63e";
  color: green;
}

.icon-shexiangtou:before {
  content: "\eca6";
  color: green;
}

.icon-shexiangtou_guanbi:before {
  content: "\eca5";
  color: red;
}

.icon-chat:before {
  content: "\e637";
}
